In [1]:
import pandas as pd

In [5]:
y2019 = pd.read_csv('2019.csv')
y2018 = pd.read_csv('2018.csv')
y2017 = pd.read_csv('2017.csv')
y2016 = pd.read_csv('2016.csv')
y2015 = pd.read_csv('2015.csv')
y2014 = pd.read_csv('2014.csv')
y2013 = pd.read_csv('2013.csv')
y2012 = pd.read_csv('2012.csv')
y2011 = pd.read_csv('2011.csv')
y2010 = pd.read_csv('2010.csv')
y2009 = pd.read_csv('2009.csv')
y2008 = pd.read_csv('2008.csv')
y2007 = pd.read_csv('2007.csv')
y2006 = pd.read_csv('2006.csv')
y2005 = pd.read_csv('2005.csv')
y2004 = pd.read_csv('2004.csv')
y2003 = pd.read_csv('2003.csv')
y2002 = pd.read_csv('2002.csv')
y2001 = pd.read_csv('2001.csv')
y2000 = pd.read_csv('2000.csv')

In [7]:
all_years = [y2019,
y2018,
y2017,
y2016,
y2015,
y2014,
y2013,
y2012,
y2011,
y2010,
y2009,
y2008,
y2007,
y2006,
y2005,
y2004,
y2003,
y2002,
y2001,
y2000]

In [9]:
combined = pd.concat(all_years, ignore_index=True)
combined

,measure_id,measure_name,location_id,location_name,fips,race_id,race_name,sex_id,sex_name,age_group_id,age_name,cause_id,cause_name,year,metric_id,metric_name,val,upper,lower
0,1,Deaths,102,United States of America,NaN,1,Total,3,Both,28,<1 year,414,Stomach cancer,2019,3,Rate,0.000000,0.000000,0.00000
1,1,Deaths,102,United States of America,NaN,2,Latino,3,Both,28,<1 year,414,Stomach cancer,2019,3,Rate,0.000000,0.000000,0.00000
2,1,Deaths,102,United States of America,NaN,4,Black,3,Both,28,<1 year,414,Stomach cancer,2019,3,Rate,0.000000,0.000000,0.00000
3,1,Deaths,102,United States of America,NaN,5,White,3,Both,28,<1 year,414,Stomach cancer,2019,3,Rate,0.000000,0.000000,0.00000
4,1,Deaths,102,United States of America,NaN,6,AIAN,3,Both,28,<1 year,414,Stomach cancer,2019,3,Rate,0.000000,0.000000,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8089195,1,Deaths,3699,Weston County (Wyoming),56045.0,2,Latino,3,Both,27,Age-standardized,414,Stomach cancer,2000,3,Rate,NaN,NaN,NaN
8089196,1,Deaths,3699,Weston County (Wyoming),56045.0,4,Black,3,Both,27,Age-standardized,414,Stomach cancer,2000,3,Rate,NaN,NaN,NaN
8089197,1,Deaths,3699,Weston County (Wyoming),56045.0,5,White,3,Both,27,Age-standardized,414,Stomach cancer,2000,3,Rate,0.000049,0.000058,0.00004
8089198,1,Deaths,3699,Weston County (Wyoming),56045.0,6,AIAN,3,Both,27,Age-standardized,414,Stomach cancer,2000,3,Rate,NaN,NaN,NaN
8089199,1,Deaths,3699,Weston County (Wyoming),56045.0,7,API,3,Both,27,Age-standardized,414,Stomach cancer,2000,3,Rate,NaN,NaN,NaN

In [10]:
stdz = combined[combined['age_name'] == 'Age-standardized']
stdz

,measure_id,measure_name,location_id,location_name,fips,race_id,race_name,sex_id,sex_name,age_group_id,age_name,cause_id,cause_name,year,metric_id,metric_name,val,upper,lower
120,1,Deaths,102,United States of America,NaN,1,Total,3,Both,27,Age-standardized,414,Stomach cancer,2019,3,Rate,0.000042,0.000043,0.000042
121,1,Deaths,102,United States of America,NaN,2,Latino,3,Both,27,Age-standardized,414,Stomach cancer,2019,3,Rate,0.000059,0.000061,0.000057
122,1,Deaths,102,United States of America,NaN,4,Black,3,Both,27,Age-standardized,414,Stomach cancer,2019,3,Rate,0.000068,0.000070,0.000066
123,1,Deaths,102,United States of America,NaN,5,White,3,Both,27,Age-standardized,414,Stomach cancer,2019,3,Rate,0.000035,0.000036,0.000034
124,1,Deaths,102,United States of America,NaN,6,AIAN,3,Both,27,Age-standardized,414,Stomach cancer,2019,3,Rate,0.000062,0.000070,0.000054
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8089195,1,Deaths,3699,Weston County (Wyoming),56045.0,2,Latino,3,Both,27,Age-standardized,414,Stomach cancer,2000,3,Rate,NaN,NaN,NaN
8089196,1,Deaths,3699,Weston County (Wyoming),56045.0,4,Black,3,Both,27,Age-standardized,414,Stomach cancer,2000,3,Rate,NaN,NaN,NaN
8089197,1,Deaths,3699,Weston County (Wyoming),56045.0,5,White,3,Both,27,Age-standardized,414,Stomach cancer,2000,3,Rate,0.000049,0.000058,0.000040
8089198,1,Deaths,3699,Weston County (Wyoming),56045.0,6,AIAN,3,Both,27,Age-standardized,414,Stomach cancer,2000,3,Rate,NaN,NaN,NaN
8089199,1,Deaths,3699,Weston County (Wyoming),56045.0,7,API,3,Both,27,Age-standardized,414,Stomach cancer,2000,3,Rate,NaN,NaN,NaN

In [14]:
okla_allyears = stdz[stdz['location_name'] == 'Oklahoma']
okla_allyears

,measure_id,measure_name,location_id,location_name,fips,race_id,race_name,sex_id,sex_name,age_group_id,age_name,cause_id,cause_name,year,metric_id,metric_name,val,upper,lower
274674,1,Deaths,559,Oklahoma,40.0,1,Total,3,Both,27,Age-standardized,414,Stomach cancer,2019,3,Rate,0.000041,0.000043,0.000040
274675,1,Deaths,559,Oklahoma,40.0,2,Latino,3,Both,27,Age-standardized,414,Stomach cancer,2019,3,Rate,0.000057,0.000064,0.000050
274676,1,Deaths,559,Oklahoma,40.0,4,Black,3,Both,27,Age-standardized,414,Stomach cancer,2019,3,Rate,0.000065,0.000072,0.000058
274677,1,Deaths,559,Oklahoma,40.0,5,White,3,Both,27,Age-standardized,414,Stomach cancer,2019,3,Rate,0.000036,0.000038,0.000034
274678,1,Deaths,559,Oklahoma,40.0,6,AIAN,3,Both,27,Age-standardized,414,Stomach cancer,2019,3,Rate,0.000065,0.000078,0.000055
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7959415,1,Deaths,559,Oklahoma,40.0,2,Latino,3,Both,27,Age-standardized,414,Stomach cancer,2000,3,Rate,0.000085,0.000097,0.000074
7959416,1,Deaths,559,Oklahoma,40.0,4,Black,3,Both,27,Age-standardized,414,Stomach cancer,2000,3,Rate,0.000109,0.000119,0.000098
7959417,1,Deaths,559,Oklahoma,40.0,5,White,3,Both,27,Age-standardized,414,Stomach cancer,2000,3,Rate,0.000051,0.000054,0.000048
7959418,1,Deaths,559,Oklahoma,40.0,6,AIAN,3,Both,27,Age-standardized,414,Stomach cancer,2000,3,Rate,0.000074,0.000089,0.000061
7959419,1,Deaths,559,Oklahoma,40.0,7,API,3,Both,27,Age-standardized,414,Stomach cancer,2000,3,Rate,0.000109,0.000129,0.000091

In [15]:
okla_allyears.to_csv('oklahoma 2000-2019.csv', index=False)

In [19]:
wide_df = okla_allyears.pivot(index='year', columns='race_name', values='val')
wide_df

race_name      AIAN       API     Black    Latino     Total     White
year
2000       0.000074  0.000109  0.000109  0.000085  0.000056  0.000051
2001       0.000076  0.000106  0.000106  0.000084  0.000055  0.000050
2002       0.000076  0.000102  0.000105  0.000081  0.000054  0.000049
2003       0.000076  0.000099  0.000101  0.000080  0.000053  0.000048
2004       0.000075  0.000094  0.000097  0.000076  0.000051  0.000046
2005       0.000079  0.000094  0.000096  0.000075  0.000051  0.000045
2006       0.000079  0.000092  0.000092  0.000070  0.000049  0.000044
2007       0.000078  0.000088  0.000091  0.000068  0.000049  0.000043
2008       0.000077  0.000086  0.000089  0.000068  0.000048  0.000043
2009       0.000074  0.000083  0.000086  0.000066  0.000047  0.000041
2010       0.000074  0.000082  0.000083  0.000066  0.000046  0.000041
2011       0.000072  0.000080  0.000082  0.000064  0.000045  0.000040
2012       0.000072  0.000079  0.000079  0.000064  0.000045  0.000040
2013       0.000071  0.000076  0.000077  0.000062  0.000045  0.000039
2014       0.000071  0.000075  0.000076  0.000062  0.000044  0.000039
2015       0.000070  0.000075  0.000074  0.000060  0.000044  0.000039
2016       0.000069  0.000074  0.000072  0.000060  0.000044  0.000038
2017       0.000068  0.000071  0.000068  0.000060  0.000043  0.000037
2018       0.000066  0.000067  0.000067  0.000059  0.000042  0.000037
2019       0.000065  0.000065  0.000065  0.000057  0.000041  0.000036

In [22]:
wide_df.to_csv('pivoted oklahoma.csv', index=True)